@model IEnumerable<StarProject.Models.Product>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProCategoryNoNavigation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td style="width:116px; text-align: center;">
            <button type="button"
                    class="btn btn-color btn-sm btn-detail"
                    data-id="@item.No"
                    data-name="@item.Name"
                    data-category="@item.ProCategoryNoNavigation.Name"
                    data-price="@item.Price"
                    data-status="@item.Status"
                    data-releasedate="@item.ReleaseDate.ToString("yyyy-MM-dd HH:mm")"
                    data-updatedate="@item.UpdateDate.ToString("yyyy-MM-dd HH:mm")"
                    data-image="@(item.ProductImages
                        .OrderBy(p => p.ImgOrder)
                        .FirstOrDefault()?.Image ?? "")"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDetail">
                詳細內容
            </button>
        </td>
    </tr>
}