@model IEnumerable<StarProject.ViewModels.TicketStockSumViewModel>

@{
    ViewData["Title"] = "票券庫存管理";
	
    var groupedByDate = Model
	.GroupBy(m => m.ReleaseDate)
	.OrderByDescending(g => g.Key);

    var startDateQuery = Context.Request.Query["startDate"];
    var endDateQuery = Context.Request.Query["endDate"];
}
<head>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .btn-accor{
            padding: 8px 16px;
        }

        .btn-accor:hover {
            background-color: #eaecf4;
        }

        .btn-search {
            --bs-btn-bg: rgb(250, 208, 72);
            --bs-btn-border-color: rgb(250, 208, 72);
            --bs-btn-hover-bg: rgba(250, 208, 72, 0.692);
            --bs-btn-hover-border-color: rgba(250, 208, 72, 0.692);
            --bs-btn-focus-shadow-rgb: 217, 164, 6;
            --bs-btn-active-bg: #ffcd39;
            --bs-btn-active-border-color: #ffc720;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

        .btn-outline-search {
            --bs-btn-color: #ffc107;
            --bs-btn-border-color: #ffc107;
            --bs-btn-hover-color: #ffc107;
            --bs-btn-hover-bg: rgba(253, 246, 222, 0.897);
            --bs-btn-hover-border-color: #ffc107;
            --bs-btn-focus-shadow-rgb: 255, 193, 7;
            --bs-btn-active-color: #ffc107;
            --bs-btn-active-border-color: #ffc107;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-gradient: none;
        }
    </style>
</head>

<main class="flex-fill position-relative">
    <!-- 標題+新增 -->
    <div class="d-flex align-items-center mb-3">
        <h1 class="fw-bold flex-grow-1 mb-0">票券庫存管理</h1>
        <a asp-action="Create" class="btn btn-search fw-bold"><i class="fa-solid fa-gear"></i> 設定庫存</a>
    </div>

    <!-- CSRF Token -->
    <form id="deleteForm">
        @Html.AntiForgeryToken() <!-- 生成 CSRF 隱藏欄位 -->
    </form>

    <!-- 日期篩選表單 -->
    <form method="get" class="mb-4">
        <label for="date" class="fs-5 fw-bold me-2">起始日期</label>
        <input type="date" name="startDate" id="startDate" value="@ViewData["startDate"]" class="form-control d-inline-block w-auto me-4" />
        <label for="date" class="fs-5 fw-bold me-2">結束日期</label>
        <input type="date" name="endDate" id="endDate" value="@ViewData["endDate"]" class="form-control d-inline-block w-auto" />
        <button type="submit" class="btn btn-outline-secondary ms-4"><i class="fa-solid fa-filter"></i> 篩選</button>
    </form>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3 mb-3">
        @foreach (var dayGroup in groupedByDate)
        {
            var dateId = $"date-{dayGroup.Key:yyyyMMdd}";
            <div class="col rounded-lg">
                <div class="card mb-3 h-100 shadow">
                    <div class="card-header fw-bold text-white fs-5" style="background-color:#2B4C8C;">
                        日期： @dayGroup.Key.ToString("yyyy-MM-dd")
                    </div>
                    <div class="card-body p-0 px-2 pt-2">
                        @{
                            var catIndex = 0; // 每個日期的類別索引
                        }
                        @foreach (var ticketGroupByCat in dayGroup.GroupBy(x => x.TicCategory))
                        {
                            // 判斷這個分類底下是否有任何票券庫存 < 1000
                            var isAnyLowStock = ticketGroupByCat.Any(x => x.TotalStock < (x.InitialStock / 4.0));

                            // 外層 Accordion id
                            var ticketCat = $"{dateId}-cat{catIndex}";
                            <div class="accordion m-2" id="accordionTicket-@ticketCat">
                                <div class="accordion-item">
                                    <h2 class="accordion-header p-0" id="heading-@ticketCat">
                                        <button class="accordion-button collapsed btn-accor" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse-@ticketCat"
                                                aria-expanded="false"
                                                aria-controls="collapse-@ticketCat">
                                            @if (isAnyLowStock)
                                            {
                                                <div class="bg-danger rounded-circle me-2" style="width:10px; height:10px;"></div>
                                            }
                                             @ticketGroupByCat.Key
                                        </button>
                                    </h2>
                                    <div id="collapse-@ticketCat" class="accordion-collapse collapse"
                                         aria-labelledby="heading-@ticketCat">
                                        <div class="accordion-body p-0">
                                            @{
                                                var nameIndex = 0; // 每個類別下的票券名稱索引
                                            }
                                            @foreach (var ticketGroupByName in ticketGroupByCat.GroupBy(x => x.Name))
                                            {
                                                // 計算這個展覽所有庫存的總和
                                                var isLowStock = ticketGroupByName.Any(x => x.TotalStock < (x.InitialStock / 4.0));

                                                // 內層 Accordion id
                                                var ticketId = $"{ticketCat}-name{nameIndex}";
                                                <div class="accordion m-3" id="accordionTicket-@ticketId">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading-@ticketId">
                                                            <button class="accordion-button collapsed btn-accor" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse-@ticketId"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-@ticketId">
                                                                @ticketGroupByName.Key
                                                                @if (isLowStock)
                                                                {
                                                                    <span class="badge bg-danger ms-2 rounded-pill" style="font-size:15px;">
                                                                        庫存注意
                                                                    </span>
                                                                }
                                                            </button>
                                                        </h2>
                                                        <div id="collapse-@ticketId" class="accordion-collapse collapse"
                                                             aria-labelledby="heading-@ticketId">
                                                            <div class="accordion-body p-3">
                                                                <!-- 票券類型 + 庫存 -->
                                                                <table class="table table-sm border border-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>票券類型</th>
                                                                            <th>庫存</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in ticketGroupByName)
                                                                        {
                                                                            var lowerClass = @item.TotalStock < @item.InitialStock / 4 ? "text-danger fw-bold border-0 border border-bottom border-black" : "";
                                                                            <tr>
                                                                                <td>@item.Type</td>
                                                                                <td class="@lowerClass">@item.TotalStock</td>
                                                                            </tr>

                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                nameIndex++;
                                            }

                                        </div> 
                                    </div>
                                </div>
                            </div>
                            catIndex++;
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



