@model IEnumerable<StarProject.Models.Emp>
@foreach (var item in Model)
{
    <tr>
        <td style="width:50px">
            <input type="checkbox" class="checkbox form-check-input ms-4" value="@item.No">
        </td>
        <td style="width:200px">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="width:150px">
            <span class="badge bg-secondary">@Html.DisplayFor(modelItem => item.EmpCode)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptNoNavigation.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleNoNavigation.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @if (item.Status)
            {
                <span class="badge bg-success">在職</span>
            }
            else
            {
                <span class="badge bg-danger">離職</span>
            }
        </td>
        <td style="width:116px;text-align: center;">
            <button type="button"
                    class="btn btn-color btn-sm btn-detail"
                    data-id="@item.No"
                    data-name="@item.Name"
                    data-empcode="@item.EmpCode"
                    data-department="@item.DeptNoNavigation.DeptName"
                    data-role="@item.RoleNoNavigation.RoleName"
                    data-hiredate="@item.HireDate.ToString("yyyy-MM-dd")"
                    data-status="@(item.Status ? "在職" : "離職")"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDetail">
                詳細內容
            </button>
        </td>
    </tr>
}