@model IEnumerable<StarProject.Models.CompanyNotify>

@foreach (var item in Model)
{
	<tr class="d-flex">
		<td style="width:50px">
			<input type="checkbox" class="checkbox form-check-input ms-4" value="@item.No">
		</td>
		<td class="flex-grow-1">
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td style="width:200px;text-align: center;">
			@Html.DisplayFor(modelItem => item.Category)
		</td>
		<td style="width:200px;text-align: center;">
			@Html.DisplayFor(modelItem => item.PublishDate)
		</td>
		<td style="width:116px;text-align: center;">
			<button type="button"
					class="btn btn-color btn-sm btn-detail"
					data-id="@item.No"
					data-title="@item.Title"
					data-content="@item.Content"
					data-bs-toggle="modal"
					data-bs-target="#modalDetail" id="modelDetailBtn">
				詳細內容
			</button>
		</td>
	</tr>
}


